<div class="container mt-4">
  <mat-card class="p-3 shadow-sm rounded">
    <!-- Title -->
    <mat-card-title class="text-center mb-3">
      <h6 class="fw-bold">Edit Recipe</h6>
    </mat-card-title>

    <!-- Name Field -->
    <div class="form-group mb-3">
      <label for="name" class="form-label text-secondary small"><b>Recipe Name</b></label>
      <mat-form-field appearance="outline" class="w-100 mat-small-field">
        <mat-label>Recipe name</mat-label>
        <input matInput [(ngModel)]="name" placeholder="E.g., Spaghetti Bolognese">
      </mat-form-field>
    </div>

    <!-- Image Upload -->
    <div class="form-group mb-3">
      <label for="imageUpload" class="form-label text-secondary small"><b>Recipe Image</b></label>
      <!-- Image Preview -->
      <div *ngIf="imageToShow" class="mb-2">
        <img
          [src]="imageToShow"
          alt="Uploaded Recipe Image"
          class="img-thumbnail shadow-sm rounded"
          style="max-width: 150px; height: auto;">
      </div>
      <app-upload
        [btnTitle]="'Upload Image'"
        (onUploadFinished)="onImageUpload($event)">
      </app-upload>
    </div>

    <!-- Meal Type -->
    <div class="form-group mb-3">
      <label for="mealType" class="form-label text-secondary small"><b>Meal Type</b></label>
      <mat-form-field appearance="outline" class="w-100 mat-small-field">
        <mat-label>Meal type</mat-label>
        <mat-select [(ngModel)]="mealType">
          <mat-option *ngFor="let meal of mealTypes" [value]="meal.value">
            {{ meal.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Dietary Preferences -->
    <div class="form-group mb-3">
      <label for="dietaryPreferences" class="form-label text-secondary small"><b>Dietary Preferences</b></label>
      <mat-form-field appearance="outline" class="w-100 mat-small-field">
        <mat-label>Dietary preference</mat-label>
        <mat-select [(ngModel)]="dietaryPreferences">
          <mat-option *ngFor="let preference of dietaryPreferencesList" [value]="preference.value">
            {{ preference.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Preparation Time -->
    <div class="form-group mb-3">
      <label for="preparationTime" class="form-label text-secondary small"><b>Preparation Time</b> (minutes)</label>
      <mat-form-field appearance="outline" class="w-100 mat-small-field">
        <mat-label>Preparation time</mat-label>
        <input matInput type="number" [(ngModel)]="preparationTime" placeholder="E.g., 30">
      </mat-form-field>
    </div>

    <!-- Recipe Appliances -->
    <div class="form-group mb-3">
      <label for="appliances" class="form-label text-secondary small"><b>Recipe Appliances</b></label>
      <mat-form-field appearance="outline" class="w-100 mat-small-field">
        <mat-label>Select appliances</mat-label>
        <mat-select [(ngModel)]="selectedAppliances" multiple>
          <mat-option *ngFor="let appliance of applianceTypes" [value]="appliance.key">
            {{ appliance.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Ingredients Editing -->
    <div class="form-group mb-3">
      <label for="ingredients" class="form-label text-secondary small"><b>Ingredients</b></label>
      <div *ngFor="let ingredient of ingredients; let i = index" class="d-flex align-items-center mb-2 ingredients">
        <!-- Ingredient Quantity -->
        <div class="ingredient-info">
          <mat-form-field appearance="outline" class="mat-small-field me-2 quantity">
            <mat-label>Quantity</mat-label>
            <input matInput type="text" [(ngModel)]="ingredients[i].quantity" placeholder="E.g., 200">
          </mat-form-field>

          <!-- Measurement Unit -->
          <mat-form-field appearance="outline" class="mat-small-field me-2 unit">
            <mat-label>Unit</mat-label>
            <mat-select [(ngModel)]="ingredients[i].measurementUnit">
              <mat-option *ngFor="let unit of measurementUnits" [value]="unit.value">
                {{ unit.key }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Ingredient Autocomplete -->
          <mat-form-field appearance="outline" class="me-2 ingredient">
            <mat-label>Select Ingredient</mat-label>
            <input
              type="text"
              matInput
              [matAutocomplete]="auto"
              [(ngModel)]="ingredients[i].ingredientName"
              (input)="onIngredientInput(i, $event)"
              placeholder="Start typing ingredient name"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="onIngredientSelected(i, $event)">
              <mat-option *ngFor="let option of filteredIngredients" [value]="option.name">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="ingredient-buttons">
          <button *ngIf="i !== 0"
            class="btn btn-danger ms-2"
            (click)="deleteIngredient(i)">
            -
          </button>
          <button
            class="btn btn-success ms-2 add-button"
            (click)="addIngredient()">
            +
          </button>
        </div>
      </div>
    </div>

    <!-- Recipe Steps Editing -->
    <div class="form-group mb-3">
      <label for="recipeSteps" class="form-label text-secondary small"><b>Recipe Steps</b></label>
      <div *ngFor="let step of recipeSteps; let i = index" class="d-flex align-items-center mb-2 steps">
        <div class="steps-info">
          <mat-form-field appearance="outline" class="flex-grow-1 mat-small-field mr-1 step">
            <mat-label>Step {{ i + 1 }}</mat-label>
            <textarea matInput [(ngModel)]="recipeSteps[i]" placeholder="Describe this step"></textarea>
          </mat-form-field>
        </div>

        <div class="steps-buttons">
          <button *ngIf="i !== 0"
            class="btn btn-danger ms-2"
            (click)="deleteStep(i)">
            -
          </button>
          <button
            class="btn btn-success ms-2 add-button"
            (click)="addStep()">
            +
          </button>
        </div>
    </div>
  </div>

  <!-- Save Button -->
  <div class="text-center mt-1">
    <button
      mat-raised-button
      color="primary"
      class="px-4 py-1 fw-bold shadow-sm"
      (click)="editRecipe()">
      Save
    </button>
  </div>
  </mat-card>
</div>
