<div class="container text-center" style="margin-top: 1%;">
  <div class="d-flex align-items-center">
    <h4>Name</h4>
    <mat-form-field class="example-full-width bigg ml-3">
      <mat-label>Name</mat-label>
      <input matInput value="" [(ngModel)]="name">
    </mat-form-field>
  </div>
  <div class="d-flex align-items-center">
    <h4>Image</h4>
    <mat-form-field class="example-full-width bigg ml-3">
      <mat-label>Image</mat-label>
      <input matInput value="" [(ngModel)]="image">
    </mat-form-field>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <h4>Meal Type</h4>
    <mat-form-field>
      <mat-label>Meal Type</mat-label>
      <mat-select [(ngModel)]="mealType">
        <mat-option [value]="0" selected>Breakfast</mat-option>
        <mat-option [value]="1">Brunch</mat-option>
        <mat-option [value]="2">Lunch</mat-option>
        <mat-option [value]="3">Dinner</mat-option>
        <mat-option [value]="4">Dessert</mat-option>
        <mat-option [value]="5">Drink</mat-option>
        <mat-option [value]="6">Snack</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <h4>Dietary Preferences</h4>
    <mat-form-field>
      <mat-label>Dietary Preferences</mat-label>
      <mat-select [(ngModel)]="dietaryPreferences">
        <mat-option [value]="0" selected>Omnivore</mat-option>
        <mat-option [value]="1">Vegetarian</mat-option>
        <mat-option [value]="2">Vegan</mat-option>
        <mat-option [value]="3">Carnivore</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="d-flex align-items-center">
    <h4>Preparation Time</h4>
    <mat-form-field class="example-full-width bigg ml-3">
      <mat-label>Preparation Time</mat-label>
      <input matInput value="" [(ngModel)]="preparationTime">
    </mat-form-field>
  </div>
  <div class="form-group row">
    <button mat-stroked-button color="accent" class="float-right" (click)="editRecipe()">Save</button>
  </div>
</div>
