.mat-small-field .mat-form-field-wrapper {
  padding-bottom: 0.5rem;
  padding-top: 0.2rem;
}

.mat-small-field .mat-form-field-infix {
  height: 1.8rem; /* Smaller height for the input area */
}

.small-btn {
  font-size: 0.875rem; /* Smaller font for buttons */
  padding: 0.4rem 1rem;
}

img.img-thumbnail {
  border-radius: 8px; /* Rounded corners for image */
}

/* Optional: Adjust mat-form-field to ensure proper alignment with button */
.mat-form-field {
  flex-grow: 1;
  margin-right: 10px; /* Space between the input field and the button */
}

.ingredients {
  justify-content: space-between;
}

.ingredient-info {
  width: 92%;
}

.ingredient-buttons {
  width: 8%;
}

.steps {
  justify-content: space-between;
}

.steps-info {
  width: 92%;
}

.steps-buttons {
  width: 8%;
}

.quantity {
  width: 24%;
  margin-right: 1%;
}


.unit {
  width: 24%;
  margin-right: 1%;
}


.ingredient {
  width: 49%;
  margin-right: 1%;
}

.add-button {
  float: right;
}

.step {
  width: 99%;
}
