<form [formGroup]="formGroup" class="recipe-form p-3 m-3 form-group">
  <div formArrayName="ingredients">
    <label class="mb-5" for="ingredients"><b>Ingredients</b></label>
    <div *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i">
      <div>

        <!-- Ingredient Autocomplete -->
        <mat-form-field appearance="outline" class="mr-2 ingredient">
          <mat-label>Select Ingredient</mat-label>
          <input
            type="text"
            matInput
            [matAutocomplete]="auto"
            formControlName="name"
            (input)="onIngredientInput(i, $event)"
            placeholder="Start typing ingredient name"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="onIngredientSelected(i, $event)">
            <mat-option *ngFor="let option of filteredIngredients" [value]="option.name">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- Remove Ingredient Button -->
        <button
          type="button"
          class="btn btn-danger ms-2 mr-2"
          (click)="removeIngredient(i)"
          *ngIf="ingredients.length > 1"
        >
          -
        </button>

        <!-- Add Ingredient Button -->
        <button
          type="button"
          class="btn btn-success ms-2"
          (click)="addIngredient()"
          *ngIf="i === ingredients.length - 1"
        >
          +
        </button>
      </div>
    </div>
  </div>

  <div class="mt-2 buttons">
    <button type="button" class="btn btn-secondary" (click)="closeDialog()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary submit-btn" (click)="search()">
      Search
    </button>
  </div>
</form>
