<div class="container text-center" style="margin-top: 1%;">
  <mat-card class="mb-4 clickable" style="margin-top: 10%;">
    <div class="d-flex">
      <!-- <img class="rounded-circle shadow-1-strong me-3"
              style="margin-right: 2%;"
              [src]="createImgPath(jobOffer.company.user.profilePicture)"
              alt="avatar"
              width="65"
              height="65"/> -->
      <div style="flex-grow: 1;" class="pt-2">
        <mat-card-title><b>Recipe name:</b> {{recipe.name | titlecase}}</mat-card-title>
        <mat-card-subtitle><b>Added by:</b> {{recipe.user.firstName}}</mat-card-subtitle>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-6">
        <mat-card-content><b>Dietary Preferences: </b>{{recipe.dietaryPreferences}}</mat-card-content>
        <mat-card-content><b>Meal-type: </b>{{recipe.mealType}}</mat-card-content>
        <mat-card-content><b>Preparation Time: </b>{{recipe.preparationTime}} min</mat-card-content>
      </div>
    </div>
    <!-- <mat-card-content><b>Steps:</b> {{jobOffer.description}}</mat-card-content><hr  *ngIf="!isCompanyUser && !hasUserApplied">
    <div *ngIf="!isCompanyUser && !hasUserApplied" class="d-flex justify-content-end">
      <mat-card-subtitle style="flex-grow: 1;">*If you are interested upload your CV and apply</mat-card-subtitle>
      <app-upload (onUploadFinished)="uploadFinished($event)" [btnTitle]="'Upload CV'"></app-upload>
      <div [matTooltip]="!isUploaded ? 'Please upload CV first' : ''" style="margin-left: 2% !important;">
        <button mat-stroked-button color="accent" (click)="apply(jobOffer.id)" [disabled]="!isUploaded">Apply</button>
      </div>
    </div> -->
  </mat-card>
</div>
