<div class="container my-5">
  <mat-card class="recipe-details-card shadow-lg">
    <div class="d-flex flex-wrap align-items-start">
      <!-- Recipe Image -->
      <div class="recipe-image-container">
        <img class="recipe-image" [src]="createImgPath(recipe.image)" alt="Recipe Image" />
      </div>

      <!-- Recipe Information -->
      <div class="recipe-info ms-4">
        <mat-card-title class="recipe-title">
           {{ recipe.name | titlecase }}
        </mat-card-title>
        <mat-card-subtitle class="recipe-author mt-2">
          <b>Added by:</b> {{ recipe.user.firstName }}
        </mat-card-subtitle>

        <!-- Key Details -->
        <div class="recipe-details mt-4">
          <mat-card-content>
            <b>Dietary Preferences:</b> {{ getDietaryPreferenceString(recipe.dietaryPreferences) }}
          </mat-card-content>
          <mat-card-content>
            <b>Meal Type:</b> {{ getMealTypeString(recipe.mealType) }}
          </mat-card-content>
          <mat-card-content>
            <b>Preparation Time:</b> {{ recipe.preparationTime }} mins
          </mat-card-content>
          <mat-card-content *ngIf="recipeAppliances.length > 0">
            <b>Appliances Used:</b>
            <ul class="mt-2">
              <li *ngFor="let appliance of recipeAppliances">{{ appliance }}</li>
            </ul>
          </mat-card-content>
          <mat-card-content *ngIf="recipe.recipeSteps.length > 0">
            <b>Steps:</b>
            <ol class="mt-2">
              <li *ngFor="let step of recipe.recipeSteps">{{ step }}</li>
            </ol>
          </mat-card-content>
        </div>
      </div>
    </div>
  </mat-card>
</div>
