.recipe-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 670px; /* Minimum height for the container */
}

.recipe-card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 120px; /* Standardizing card height */
}

.recipe-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.recipe-subtitle {
  font-size: 0.9rem;
  color: #555;
}

.recipe-info {
  margin-left: 15px; /* Add some space between the image and the text */
  flex-grow: 1; /* Makes sure the text area takes up the remaining space */
}

/* Make the entire card clickable */
.clickable-card {
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
}

.clickable-card:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

/* Ensure links and actions within the card don’t propagate click */
.clickable-card .recipe-actions button,
.clickable-card .recipe-actions a {
  pointer-events: auto; /* Allow interaction with buttons and links inside */
}

.pagination-container {
  position: sticky;
  bottom: 0;
  background-color: white; /* Background color to make pagination stand out */
  z-index: 1000;
}

.pagination .page-link {
  border-radius: 20px;
  padding: 8px 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination .page-item.disabled .page-link {
  color: #ccc;
}

.pagination .page-item .page-link:hover {
  background-color: #007bff;
  color: white;
  transform: translateY(-3px);
}
