<div class="container my-4">
  <h4 class="text-center mb-4">All Recipes</h4>

  <!-- Recipe List Container -->
  <div class="recipe-list-container">
    <!-- Recipe List -->
    <div class="row">
      <div class="col-md-6 mb-3" *ngFor="let recipe of paginatedRecipes">
        <!-- Wrap the whole card with a routerLink to make it clickable -->
        <mat-card
          class="recipe-card shadow-sm clickable-card"
          [routerLink]="['/recipe/details/', recipe.id]"
        >
          <div class="d-flex align-items-center p-3">
            <img
              class="recipe-image rounded-circle me-3"
              [src]="createImgPath(recipe.image)"
              alt="Recipe Image"
              width="80"
              height="80"
            />
            <div class="recipe-info">
              <mat-card-title class="recipe-title">
                {{ recipe.name }}
              </mat-card-title>
              <mat-card-subtitle class="recipe-subtitle">
                <b>User:</b> {{ recipe.user.firstName }}
              </mat-card-subtitle>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>

  <!-- Pagination Controls -->
  <nav class="d-flex justify-content-center mt-4 pagination-container">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
          Previous
        </button>
      </li>
      <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
        <button class="page-link" (click)="changePage(page)">{{ page }}</button>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
          Next
        </button>
      </li>
    </ul>
  </nav>
</div>
