<div class="card">
  <div class="card-body">
      <div class="col-8">
        <button mat-stroked-button color="accent" (click)="addRecipeRedirect()" style="float: right;">New recipe</button><br><br>
        <mat-card *ngFor="let recipe of recipes" style="margin-bottom: 2%;" class="d-flex clickable">
          <!-- <img class="rounded-circle shadow-1-strong me-3" [routerLink]="['/recipe/', recipe.id]"
              style="margin-right: 2%;"
              alt="avatar"
              width="65"
              height="65"/> -->
          <div style="margin: 1% 0%; flex-grow: 1;" [routerLink]="['/recipe/', recipe.id]">
            <mat-card-title>{{recipe.name}}</mat-card-title>
            <mat-card-subtitle>User: {{recipe.user.firstName}}</mat-card-subtitle>
          </div>
          <div>
            <a title="Details" (click)="detailsRecipeRedirect(recipe.id)"><i class="fa fa-info-circle"></i> </a>
            <a title="Edit" (click)="editRecipeRedirect(recipe.id)"><i class="fas fa-edit"></i> </a>
            <!-- <a title="Delete" (click)="deleteRecipe(recipe.id)" style="margin-left: 12px;"><i class="fas fa-trash-alt"></i> </a> -->
          </div>
        </mat-card>
      </div>

  </div>
</div>
