<form [formGroup]="formGroup" (ngSubmit)="addRecipe()">
  <div>Name</div>
  <input type="text" formControlName="name"/>
  <div >
    <div>Image</div>
    <app-upload class="float-right" (onUploadFinished)="uploadFinished($event)"></app-upload>
  </div>
  <div>
    <div>Meal Type</div>
    <select formControlName="mealType">
      <option [value]="0" selected>Breakfast</option>
      <option [value]="1">Brunch</option>
      <option [value]="2">Lunch</option>
      <option [value]="3">Dinner</option>
      <option [value]="4">Dessert</option>
      <option [value]="5">Drink</option>
      <option [value]="6">Snack</option>
    </select>
  </div>
  <div>
    <div>Dietary Preferences</div>
    <select formControlName="dietaryPreferences">
      <option [value]="0" selected>Omnivore</option>
      <option [value]="1">Vegetarian</option>
      <option [value]="2">Vegan</option>
      <option [value]="3">Carnivore</option>
    </select>
  </div>
  <div>
    <div>Preparation Time</div>
    <input value="" formControlName="preparationTime">
  </div>
  <div>
    <button type="submit">Create recipe</button>
  </div>
</form>
